# Database Configuration
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=usp-tcc-microsservices

# JWT Configuration
JWT_SECRET=tcc-microsservices-jwt-secret-2026

# Spring Boot specific
SPRING_PROFILES_ACTIVE=docker

# NestJS specific
PORT=3000
